* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.top-screen {
    background: url(images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 25px 5px;
}

nav button {
    padding: 15px 40px;
    border-radius: 2em;
    border: none;
    background-color: white;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.top-screen-main {
    display: flex;
}

.top-screen-text {
    line-height: 1.5;
    align-self: center;
    margin: 3.5%;
}

.top-screen-text p {
    color: hsl(208, 11%, 55%);
}

.top-screen-text button {
    margin-top: 20px;
}

.top-screen img {
    width: 50%;
    margin: 3.5%;
}

.col-of-3rows {
    display: flex;
    flex-direction: column;
}

.col-of-3rows div {
    line-height: 1.5;
    margin: 3.5%;
    align-items: center;
    border-radius: 1em;
    justify-content: space-around;
}

.col-of-3rows h2 {
    font-weight: 600;
}

.col-of-3rows img {
    width: 400px;
    padding: 3em;
}

.col-of-3rows p {
    color: hsl(208, 11%, 55%);
    width: 30rem;

}

.growTogether {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex: auto;
    flex-direction: row-reverse;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.flowingConversations{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.yourUsers{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex: auto;
    flex-direction: row-reverse;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cta {
    margin: 0 25%;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transform: translateY(50px);
    border-radius: 0.25em;
    font-family: 'Open Sans', sans-serif;
}

.cta h3 {
    font-family: 'Poppins', sans-serif;
    font-family: 600;
    margin-bottom: 0.75em;
    font-weight: 700;
}

footer {
    padding: 4.25em 3.5% 2.25em;
    background: hsl(192, 100%, 9%);
}

.footer-row {
    font-size: 15px;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    color: white;
}

.firstCol {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.firstCol p {
    margin: 15px 0;
}

.firstCol img {
    margin-right: 1em;
}

.secondCol {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.thirdCol {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.lastCol {
    width: 15%;
    display: flex;
    align-items: flex-start;
}

button {
    padding: 15px 40px;
    border-radius: 2em;
    border: none;
    color: white;
    background: hsl(322, 100%, 66%);
}

.fa-brands {
    color: white;
    margin: 0 15px;
}

.location {
    display: flex;
    align-items: baseline;
}

.location img {
    height: 20px;
}